@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;
  clip-path: inset(100%);
}

.main-container {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 617px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}

.user-navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  max-width: 318px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}

.site-menu {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  align-items: flex-start;
  flex-direction: row;
  width: 520px;
  text-decoration: none;
  text-transform: capitalize;
  flex-wrap: wrap;
  padding: 0;
}

.nivigation-logo {
  position: absolute;
  width: 140px;
  height: 70px;
  flex: none;
  order: 0;
  flex-grow: 0;
}


/* .user-navigation-link {
  min-width: 44px;
  min-height: 64px;
}
 */

.user-navigation-button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
  width: 92px;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  flex-grow: 0;
}

.main-index {
  display: block;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.welcome-wraper {
  width: 1200px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  display: block;
  text-align: center;
  padding-top: 51px;
}

.picture-sedona {
  margin: 51px 371px 82px 371px;
}

.main-index h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.reasons {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  margin: 166px 275px 90px;
}

.main-text {
  text-align: center;
  margin: 69px 290px 141px;
  color: #000000;
  background-color: #ffffff;
}

.advantages {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.advantages-title-city {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.advantages-title {
  text-transform: uppercase;

}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.advantages-road {
  background-color: #83B3D333;
}

.advantages-description {
  font-weight: 400;
  size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
}


.advantages-item-with-photo {
  width: 100%;
  display: flex;
}

.reserve {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.services-name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-list {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;

}

.hotels-card-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-list h4 {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.hotels-card-price {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.link {
  text-decoration: none;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../images/background-mailing.jpg");
}

.mailing-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  text-align: center;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.footer-social-link {
  width: 142px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 70px 30px;
  padding: 0;
}

.picture-html-academy {
  display: flex;
  width: 115px;
}

.contacts-phone {
  display: flex;
  width: 720px;
  align-items: center;
}
