@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;
  clip-path: inset(100%);
}

.main-container {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
}

.user-navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.site-navigation {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  padding: 20px 16px;
}

.text-button {
  text-decoration: none;
}

.navigation-item {
  padding: 20px 16px;
}

.nivigation-logo {
  position: absolute;
  height: 70px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.user-navigation-item {
  padding: 22px 12px;
}

.user-navigation-button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  flex-grow: 0;
  border: none;
}

.main-index {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.welcome-wraper {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  display: block;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-index h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.reasons {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
}

.slogan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 69px 0 90px;
}

.slogan-text {
  width: 651px;
  text-align: center;
  background-color: #ffffff;
}

.slogan {
  display: flex;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.advantages-title-city {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.advantages-title {
  text-transform: uppercase;
}

.sedona-advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 175px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.advantages-road {
  background-color: #83B3D333;
}

.advantages-description {
  font-weight: 400;
  size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
}


.advantages-item-with-photo {
  width: 100%;
  display: flex;
}

.reserve {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 297px;
}

.reserve-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  justify-content: center;
  padding: 96px 304px;
}

.services-information {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  display: flex;
  margin-top: 20px;
}

.search-hotels-button {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 376px;
  height: 52px;
  align-items: center;
  background-color: #756157;
  color: #ffffff;
  margin-top: 54px;
}

.services-description {
  width: 230px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.services-name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
}

.services-list {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 85px;
  width: 230px;
}

.services-icon {
  padding-top: 0;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.sorting-hotels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding: 50px 70px 40px;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 100px 14px 20px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  align-items: flex-start;
  margin: 0;
}

.view-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.button-view-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.button-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.hotels-card-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
  padding: 0 20px;
}

.hotels-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 340px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 20px;
}

.hotels-list h4 {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  padding-left: 70px;
  padding-right: 70px;
  width: 1060px;
  align-items: center;
  margin-top: 0;
}

.hotels-card-image {
  display: flex;
  align-items: center;
  margin: 20px 20px 16px;
}

.hotels-card-price {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-buttons {
  width: 300px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 16px 20px;
}

.button-favorite-submit {
  display: flex;
  background-color: #7db54f;
}

.catalog-button {
}

.link {
  text-decoration: none;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.mailing-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 404px;
  align-items: center;
  display: flex;
}

.mailing-catalog {

  background-color: #ffffff;
}

.mailing {
  background-image: url("../images/background-mailing.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

.subscribe {
 color: #ffffff;
 display: flex;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 padding-top: 96px;
 width: 475px;
 margin: 96px 362px 54px;
}

.slogan-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.mailing-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  text-align: center;
  border: 1px solid #000000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.picture-html-academy {
  display: flex;
}

.contacts-phone {
  align-items: center;
}

.footer-social-item {
  display: flex;
  align-items: center;
  padding: 13px 11px;
}

.button {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 8px 26px;
  color: #ffffff;
  border-radius: 4px;
  flex-grow: 0;
  border: none;
}

.button-about {
  background-color: #756157;
}

.button-favorite {
  padding: 8px auto;
  background-color: #82b3d3;
}

.button-submit {

  background-color: #82b3d3;
}

.inner-header{
 margin: 0;
 padding: 0;
 flex-direction: column;
 align-items: flex-start;
}

.main.inner {
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

.filter-content {
  display: flex;
  background-image: url("../images/filter-background.jpg");
  color: #ffffff;
  padding: 35px 70px 70px;
  border: none;
  align-items: flex-start;
  text-decoration: none;
}

.catalog-filter-group {
  border: none;
  list-style-type: none;
}

.raiting {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin: 16px 20px 20px;
  gap: 20px;
}

.hotels-raiting {
  align-items: flex-end;
  width: 140px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.hotels-stars {
  width: 140px;
  padding: 0;
  text-align: left;
}

.pagination {
  display: flex;
  margin: 0;
  gap: 8px;
  padding: 0;
  border-radius: 4px;
  list-style-type: none;
  margin: 40px 70px 60px;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-next-page-link {
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
}
